img{
    height: 50px;
    width: 50px;
}

ul li{
    list-style-type: none;
}

button {
    padding: 5px;
	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	font-size: 16px;
	cursor: pointer;
	border-radius: 5px;
}

.disabled {
    background-color: #393c39; 
    color: #a1a1a1;
}

.disabled:hover {
    cursor: default;
}